In [6]:
# there are three data files in the data directory with the filenames starting with s. Read the data of the three files. Combine them into a single data frame.

import pandas as pd

df1 = pd.read_csv('data/s1.csv')
df2 = pd.read_csv('data/s2.csv')
df3 = pd.read_csv('data/s3.csv')

df = pd.concat([df1, df2, df3], ignore_index=True)

# what is the shape of the data frame?
print(df.shape)

# save the data frame to a new csv file wiht the name all_data.csv
df.to_csv('data/all_data.csv', index=False)
type(df)

(30, 3)

pandas.core.frame.DataFrame

In [13]:
# change the index of the data frame to participantID
df.set_index('participantID')

               trial        RT
participantID
s1                 1  0.508971
s1                 2  0.389858
s1                 3  0.404175
s1                 4  0.269520
s1                 5  0.437765
s1                 6  0.368142
s1                 7  0.400544
s1                 8  0.335198
s1                 9  0.341722
s1                10  0.439583
s2                 1  0.433094
s2                 2  0.392526
s2                 3  0.396831
s2                 4  0.417988
s2                 5  0.371810
s2                 6  0.659228
s2                 7  0.411051
s2                 8  0.409580
s2                 9  0.486828
s2                10  0.468912
s3                 1  0.322099
s3                 2  0.396106
s3                 3  0.384297
s3                 4  0.364524
s3                 5  0.454075
s3                 6  0.494156
s3                 7  0.492787
s3                 8  0.506836
s3                 9  0.340722
s3                10  0.704491

In [2]:
# calculate the mean of the RT for each participant
df.groupby('participantID')['RT'].mean()

participantID
s1    0.389548
s2    0.444785
s3    0.446009
Name: RT, dtype: float64

In [3]:
# calculate the mean of the RT for all participants
df['RT'].mean()

0.4267806816333334

In [4]:
# calculate the 95% confidence interval of the RT for each participant
df.groupby('participantID')['RT'].mean().quantile([0.025, 0.975])

0.025    0.392310
0.975    0.445948
Name: RT, dtype: float64

In [17]:
import numpy as np
from scipy import stats

def confidence_interval(data):
    mean = np.mean(data)
    sem = stats.sem(data)
    return stats.t.interval(0.95, len(data)-1, loc=mean, scale=sem)

In [18]:
df.groupby('participantID')['RT'].apply(confidence_interval)

participantID
s1    (0.3421376445590231, 0.43695816204097687)
s2     (0.3854472179552405, 0.5041224982447594)
s3    (0.36533558567034885, 0.5266829813296512)
Name: RT, dtype: object

In [5]:
# Use glob to read the files in the folder in the current directory whose name starts with "s". Concatenate them into a single data frame. Use list comprehension.
import glob

files = glob.glob('data/s*.csv')
dfs = [pd.read_csv(file) for file in files]
type(dfs)

list

In [ ]:
# calculate the 95% CIs of the RT for each participantID


# calculate the mean of the RT for each participantID