In [33]:
# Use glob to read the files in the folder in the current directory whose name starts with "s". Concatenate them into a single data frame. Use list comprehension.
import pandas as pd
import glob

# Read the files in the folder in the current directory whose name starts with "s"
files = glob.glob("data/s*.csv")

dfs = [pd.read_csv(file, index_col=None, header=0) for file in files]

df = pd.concat(dfs, axis=0, ignore_index=True)

type(df)
df.sample(5)

   participantID  trial        RT
6             s2      7  0.411051
15            s3      6  0.494156
13            s3      4  0.364524
11            s3      2  0.396106
3             s2      4  0.417988

In [35]:
# Calculate the mean RT for each participantID
df.groupby('participantID')['RT'].mean()

participantID
s1    0.389548
s2    0.444785
s3    0.446009
Name: RT, dtype: float64

In [37]:
# Calculate the mean RT across all participantID
df['RT'].mean()

0.4267806816333334

In [38]:
# Calculate the 95% confidence interval for the mean RT for each participantID

# Calculate the mean RT for each participantID
means = df.groupby('participantID')['RT'].mean()

# Calculate the standard error of the mean RT for each participantID
sems = df.groupby('participantID')['RT'].sem()

# Calculate the 95% confidence interval for the mean RT for each participantID
cis = sems * 1.96

# Combine the means, sems, and cis into a single data frame
summary = pd.concat([means, sems, cis], axis=1)
summary.columns = ['mean', 'sem', 'ci']

summary

                   mean       sem        ci
participantID
s1             0.389548  0.020958  0.041078
s2             0.444785  0.026231  0.051412
s3             0.446009  0.035662  0.069898

In [45]:
# Create a new dataframe by expanding the df with a copy of df.
df2 = pd.concat([df]*2, ignore_index=True)

print(df[0:10])
print(df2[30:40])

# Calculate the standard error for df
print(df['RT'].sem())

# Calculate the standard error for df2
print(df2['RT'].sem())

  participantID  trial        RT
0            s2      1  0.433094
1            s2      2  0.392526
2            s2      3  0.396831
3            s2      4  0.417988
4            s2      5  0.371810
5            s2      6  0.659228
6            s2      7  0.411051
7            s2      8  0.409580
8            s2      9  0.486828
9            s2     10  0.468912
   participantID  trial        RT
30            s2      1  0.433094
31            s2      2  0.392526
32            s2      3  0.396831
33            s2      4  0.417988
34            s2      5  0.371810
35            s2      6  0.659228
36            s2      7  0.411051
37            s2      8  0.409580
38            s2      9  0.486828
39            s2     10  0.468912
0.01649516507881437
0.011564574529125923

In [46]:
# Calculate the 95% confidence interval for the mean RT for each participantID in df2
means = df2.groupby('participantID')['RT'].mean()
sems = df2.groupby('participantID')['RT'].sem()
cis = sems * 1.96
summary = pd.concat([means, sems, cis], axis=1)
summary.columns = ['mean', 'sem', 'ci']
summary

                   mean       sem        ci
participantID
s1             0.389548  0.014424  0.028272
s2             0.444785  0.018053  0.035384
s3             0.446009  0.024544  0.048107